/* važno */
@import 'include/grid-settings';
@import 'include/grid';
@import "include/normalize";
@import "include/mixins";
@import "include/utility";
/* važno */


/*
    Styria Boilerplate v1.4 
*/

body{
	font-family:Arial;
	background:#333;
	margin: 0;
	padding: 0;
}

