/* ==========================================================================
   Vars
   ========================================================================== */

//boje
$blue: #6dcef4;
$dark: #2e3f49; 
$green: #68c39f;
$orange: #ffb14c;
$pink: #e7a9d8;
$purple: #a68bbd;
$tirkizna: #6dc1d0;
$red: #e37a7a;
$brown: #cbaa83;
$dark_pink: #ee4cab;
$dark_blue: #0078a8;
$light_blue:#f2fcff;

/* ==========================================================================
   Classes
   ========================================================================== */

//Color based/////////////////////////////

$colors:        $blue,    $dark,    $green,   $orange,  $pink,    $purple,  $tirkizna,  $red,     $brown,   $dark_pink,   $dark_blue,   $light_blue;
$color_names:   blue,     dark,     green,    orange,   pink,     purple,   tirkizna,   red,      brown,    dark_pink,    dark_blue,    light_blue;
$color_values:  #6dcef4,  #2e3f49,  #68c39f,  #ffb14c,  #e7a9d8,  #a68bbd,  #6dc1d0,    #e37a7a,  #cbaa83,  #ee4cab,      #0078a8,      #f2fcff;

@for $i from 1 through length($colors) {

  $this_color_name: nth($color_names, $i); 
  $this_color_value: nth($color_values, $i); 

  .text_#{$this_color_name}, .color_#{$this_color_name} {
    color: #{nth($colors, $i)};
  }

  .border_#{$this_color_name} {
    border-color: #{nth($colors, $i)};
  }

  .background_#{$this_color_name} {
    background: #{nth($colors, $i)};
  }

  .background_hover_#{$this_color_name}:hover, .background_hover_#{$this_color_name}.active, .background_hover_#{$this_color_name}.active:hover {
    background: #{nth($colors, $i)};
  }
}

//Helpers//////////////////////////////////

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-left {
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

