// Import grid settings :
@import 'grid-settings';

// Generate classes :
@include gridle_generate_classes();

// Max size :
.container {
	@include gridle_container ();
	margin:0 auto;
	max-width:1000px;
}

/***************************************
  State dependent classes
  *************************************/

@for $i from 0 through 10 {

  $value: $i * 5;

  .mt-#{$value} { 
    margin-top: #{$value}px;
  }

  .mb-#{$value} { 
    margin-bottom: #{$value}px;
  }
}

@include gridle_state('moblet') {

  @for $i from 0 through 10 {

    $value: $i * 5;
    
    .mt-moblet-#{$value} {       
      margin-top: #{$value}px;           
    }

    .mb-moblet-#{$value} {       
      margin-bottom: #{$value}px;           
    }
  }
}

@include gridle_state('tab') {

  @for $i from 0 through 10 {

    $value: $i * 5;
    
    .mt-tab-#{$value} {       
      margin-top: #{$value}px;           
    }

    .mb-tab-#{$value} {       
      margin-bottom: #{$value}px;           
    }
  }
}

@include gridle_state('mob') {
  
  @for $i from 0 through 10 {

    $value: $i * 5;
    
    .mt-mob-#{$value} {       
      margin-top: #{$value}px;           
    }

    .mb-mob-#{$value} {       
      margin-bottom: #{$value}px;           
    }
  }
}


